@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.font-mulish {
	font-family: "Mulish", sans-serif;
}

.font-inter {
	font-family: "Inter", sans-serif;
}

.span-text {
	background: #797dfc;
	background: linear-gradient(to right, #797dfc 0%, #12132d 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.footer-bg {
	background: linear-gradient(180deg, rgba(18, 19, 45, 0.05), rgba(18, 19, 45, 0) 100%);
}
