@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

.font-mulish {
	font-family: "Mulish", sans-serif;
}

.span-text {
	background: #797dfc;
	background: linear-gradient(to right, #797dfc 0%, #12132d 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
